<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>

<h1>Statistics for campaign {{ campaign }}</h1>

<img src="{{ url_for('view_graph', campaign=campaign, graph="success_failure_by_player.svg") }}"
     alt="Success and failure by player"/>

<img src="{{ url_for('view_graph', campaign=campaign, graph="critical_by_player.svg") }}"
     alt="Critical by player"/>

<img src="{{ url_for('view_graph', campaign=campaign, graph="nimdir_index_by_player.svg") }}"
     alt="Streak by player"/>

<img src="{{ url_for('view_graph', campaign=campaign, graph="base_dice_distributions.svg") }}"
     alt="2d6 distribution by player"/>

<img src="{{ url_for('view_graph', campaign=campaign, graph="formula_usage.svg") }}"
     alt="Formula element usage"/>

<img src="{{ url_for('view_graph', campaign=campaign, graph="energy_usage.svg") }}"
     alt="Energy usage"/>

<h2>Tests</h2>
<ul>
    {% for test, freq, mean, stddev in test_stats %}
        <li>
            "{{ test }}" rolled {{ freq }} times for a mean margin of {{ mean|round(2) }}
            (standard deviation: {{ stddev|round(2) }})
        </li>
    {% endfor %}
</ul>

</body>
</html>